@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .spinner {
    display: block;
    width: max-content;
    margin: auto;
    color: white;
    animation: spin 1000ms linear infinite;
  }
  .spinner svg {
    display: block;
  }